body {
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex img{
  display: flex;
  justify-content: center;
  align-items: center;
}

img 1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
