h1{
    text-align: center;
    margin-bottom: 5%;
}
.rowone p {
    width: 41%;
    margin-left: auto;
    margin-right: auto;
}
.tree_pics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.first_img{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.graf{
    width: 100%;
}
.second_img{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.third_img{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rowtwo{
    background-color: #F1EBEB;
    padding: 5%;
    font-weight: 900;
}
.rowtwo h2{
    text-align: center;
    margin-bottom: 5%;
}
.end{
    background-image: url('../images/paralellogrammes-obliques.png');
    background-size: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}
.coin{
    width: 30%;
}
.empty{
    width: 30%;
}
.imgbottom{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 13%;
    height: 30%;
}
.textbottom{
    width: 30%;
    margin-top: 10%;
    text-align: justify;
}
@media screen and (max-width:992px){
    .empty{
        display: none;
    }
    .imgbottom{
        width: 40%;
        margin-top: 30%;
    }
}
@media screen and (max-width:768px){
    .empty{
        display: none;
    }
    .imgbottom{
        width: 60%;
    }
    .textbottom{
        width: 80%;
        margin-bottom: 5%;
    }
    .textbottom h2{
        text-align: center;
    }
    
}