body{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.largeur{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.largeur img{
      height: 169px;

  width: 1349px;
}

.mini img {
  height: 64px;
  width: 355px;
  display: flex;
}
