/*global*/
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  color: #ffffff;
  margin-left: 75%;
  margin-top: 100px;
  font-size: 18px;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("font/montserrat-v15-latin-regular.woff2") format("woff2"),
    url("font/montserrat-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("font/montserrat-v15-latin-900.woff2") format("woff2"),
    url("font/montserrat-v15-latin-900.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat";
  overflow-x: hidden;
}

.first-section {
  display: flex;
  position: relative;
}

.brand-container {
  width: 50%;
  height: 400px;
  margin: 0 12px 0 25px;
  position: relative;
}

.brand-title {
  display: none;
  position: absolute;
  font-weight: bold;
}

.rectangle-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 43px 0 12px;
  height: 400px;
}

.medias-container {
  position: relative;
  height: 50%;
  margin-bottom: 9.5px;
}

.button-title {
  color: white;
  font-weight: 900;
}

.medias-title {
  position: absolute;
  top: 50%;
  left: 50%;
}

.community-container {
  position: relative;
  height: 50%;
  margin-top: 9.5px;
}

.img-brand-desktop,
.img-brand-mobile,
.img-media-desktop,
.img-media-mobile,
.services-image-mobile,
.community-container img,
.logo-partners-mobile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-brand-mobile {
  display: none;
}

.communauty-title {
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.brand-text {
  margin-left: 150px;
  color: white;
}

.second-section {
  margin-top: 56px;
}

.second-section-content {
  display: flex;
}

.second-text-container {
  margin-left: 46px;
  margin-top: 96px;
}

.black-title {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.paragraph {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 30px;
}

.first-section-drone {
  position: absolute;
  top: 11%;
  left: 25%;
}

.vertical-picture {
  width: 500px;
  margin-left: 15px;
}

.picture-container {
  margin-right: 82px;
  margin-left: 15px;
}

.big-picture-mobile {
  display: none;
}

.small-picture {
  margin-top: 20px;
}

.small-picture-mobile {
  display: none;
}

.page-title {
  text-align: center;
}

.third-section-content {
  display: flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin: 50px;
}

.product {
  background-color: #fce258;
  background-image: url("images/elements-graphiques/parallelogrammes-diagonales.png");
  border-radius: 20px;
}

.services-title-mobile,
.partners-title-mobile {
  position: relative;
  display: none;
  margin-top: 30px;
}

.services-title-mobile-text,
.partners-title-mobile-text {
  position: absolute;
  top: 5%;
  left: 18%;
}

.picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text-container {
  width: 100%;
}

.product-name {
  text-align: center;
  color: white;
}

.features-list {
  list-style-type: none;
  color: white;
}

.button {
  width: 120px;
  height: 34px;
  background-color: #ff9f1c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.button-text {
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.picture-horizontal-separator {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.partners-title {
  margin: 0 16px;
}

.partners-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos-partners {
  width: 550px;
  height: 300px;
}

.partners-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.partners-name {
  margin-left: 20px;
  margin-right: 20px;
}

.logo-partners-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .sub-menu {
    display: none;
  }

  .first-section {
    display: block;
  }
  .brand-container {
    width: 100%;
    height: 145px;
    margin: 0;
  }

  .brand-title {
    display: block;
    top: 26%;
    left: 32%;
  }

  .img-brand-desktop {
    display: none;
  }

  .img-brand-mobile {
    display: block;
  }

  .img-media-desktop {
    display: none;
  }

  .img-media-mobile {
    display: block;
  }

  .rectangle-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 292px;
  }

  .medias-container {
    width: 100%;
    height: 145px;
    margin: 0;
  }

  .medias-title {
    top: 27%;
    left: 32%;
  }

  .communauty-title {
    bottom: 27%;
    left: 28%;
  }

  .community-container {
    width: 100%;
    height: 145px;
    margin: 0;
  }
  .first-section-drone {
    display: none;
  }

  .big-picture,
  .big-picture-mobile {
    width: 100%;
  }

  .big-picture-mobile {
    display: none;
  }

  .small-picture-mobile {
    display: none;
  }

  .small-picture,
  .small-picture-mobile {
    width: 100%;
  }

  .black-title {
    font-size: 20px;
    text-align: center;
  }

  .second-section {
    margin: 16px 0 0 0;
  }

  .second-section-content {
    display: block;
  }

  .vertical-picture {
    display: none;
  }

  .second-text-container {
    margin: 0;
  }

  .picture-container {
    display: none;
  }

  .big-picture-mobile {
    display: block;
  }

  .big-picture {
    display: none;
  }

  .small-picture-mobile {
    display: block;
  }

  .small-picture {
    display: none;
  }

  .horizontal-graphic-separator {
    display: none;
  }

  .paragraph {
    font-size: 12px;
  }

  .services-title,
  .partners-title {
    display: none;
  }

  .partners-title-mobile,
  .services-title-mobile {
    display: block;
    height: 145px;
  }

  .services-title-mobile {
    margin-top: 0;
  }

  .third-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product {
    width: 75%;
  }
  .product > .product-picture-container,
  .product > .product-picture-container > .picture {
    width: 100%;
  }

  .picture-horizontal-separator {
    display: none;
  }

  .partners-container {
    display: none;
  }

  .logo-partners-mobile {
    display: block;
  }
}




/*Header*/
header {
  background-image: url(images/header.PNG);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  margin: 10px;
}
ul {
  display: flex;
}
nav ul li {
  margin-right: 50px;
  color: #ffffff;
  font-size: 12px;
}
nav ul li a:hover {
  color: rgb(238, 124, 42);
  font-weight: bold;
}
nav input {
  width: 120px;
  margin-right: 50px;
  margin-left: 25px;
}
.nav-parts-3 {
  margin: 10px;
}
.nav-parts-3 img {
  margin: 5px;
}
.networks {
  display: flex;
  justify-content: flex-end;
  margin-top: 20%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.networks img {
  padding: 5px;
}
/*menu burger*/

.nav-burger {
  display: none;
}

.nav-logos {
  display: flex;
}
.nav-logos li {
  list-style: none;
}

.nav-logos li a {
 display:block;
 width:130px;
 color:white;
 color: black;
}

.nav-logos li ul {
  display:none;
  }
.nav-logos li ul li {
  line-height: 40px;
}
.nav-logos li:hover ul {
    display:block;
    position: absolute;
    top: 50px;
    left: 255px;
    background-color: #ffffffbd;
    border-radius: 5px;
    text-align: center;
}
  .nav-logos li ul {
  position:absolute;
  }
/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.logo-footer {
  width: 200px;
  margin-top: 80px;
  padding-left: 100px;
  justify-content: center;
}
.list-link li {
  margin: 15px;
}
.list-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 100px;
}
.list-link1 {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
.list-link1 img {
  margin: 10px;
  width: 30px;
}
@media screen and (max-width: 1030px){
  /*mobil nav*/
  .nav-burger {
    display: flex;
  }
  .nav-burger a img {
    position: absolute;
    right: 30px;
    margin: 0;
  }
  .nav-burger li a {
   display:block;
   color:white;
   color: black;
   width: 150px;
   line-height: 60px;
  }
  .nav-burger li ul {
    display:none;
    background-color: #ffffffe1;
    position:absolute;
    right: 0px;
    top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px;
    padding-right: 40%;
    padding-left: 40%;
    }
  
  .nav-burger li:hover ul {
      display:block;
  }
   .nav-burger li:hover ul li {
      float:none;
      }

  h1 {
    font-size: 13px;
  }
  nav .menu-pc,
  .nav-parts-3 {
    display: none;
    position: absolute;
  }
  
  header {
    background-image: url(images/main\ banner.png);
    background-size: cover;
    background-position: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding-left: 50px;
  }
  footer .logo {
    display: flex;
    justify-content: center;
    margin-right: 90px;
    padding-right: 60px;
  }
  .list-link1 {
    margin-right: 100px;
  }
}