.text{
    width: 40%;
    margin-left: 2%;
}
.blocOne{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.text h1{
    text-align: center;
}
.imgdrone{
    margin-top: 5%;
    width: 40%;
}
.title{
    background-image: url('images/founders-banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 200px;
    width: 100%;

}
.title h2 {
    color: white;
    font-size: 3em;
    padding-left: 70%;
    padding-top: 8%;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}
.interbloc{
    width: 100%;
}
@media screen and (max-width:768px){

}
@media screen and (max-width:370px){
    .text{
        width: 360px;
    }
    .blocOne{
        margin-left: 40%;
    }
    .title{
        width: 165%;
    }
    .title h2{
        font-size: 2em;
        padding-left: 60%;
        padding-top: 25%;
    }
    .container{
        width: 360px;
    }
    .interblock{
        width: 1000px;
        height: 100px;
    }
    .end{
        width: 560px;
        text-align: center;
    }
}
